<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>Сопротивления заземлителей</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="vendors/tether/css/tether.min.css">
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="vendors/vue.min.js"></script>
    <script src="vendors/jquery-3.2.0.min.js"></script>
    <script src="vendors/tether/js/tether.min.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="index.js"></script>

</head>

<body>
<div class="container" id="app">
    <h1>Расчет сопротивления заземлителей</h1>
    <p class="lead">Другой очень важный и полезный текст здесь</p>

    <div class="row justify-content-between">
        <div class="col-5">
            <div class="card">
                <div class="card-header">
                    <b>Исходные данные</b>
                </div>
                <div class="card-block">
                    <div class="form-group row" v-for="param in model">
                        <label  :for="param.name" class="col-6 col-form-label">{{param.label}}</label>
                        <div class="col-6">
                            <div class="input-group">
                                <span class="input-group-addon" >{{param.name}} = </span>
                                <input v-model="param.value" type="number" class="form-control" :id="param.name">
                                <span class="input-group-addon">{{param.unit || '&nbsp;&nbsp;&nbsp;&nbsp;'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="card">
                <div class="card-header"><b>Результаты</b></div>
                <div class="card-block">
                    Расчетное сопротивление грунта {{r_calc}}<br>
                    Сопротивление электрода {{r_pipe}}<br>
                    Приблизительное число электродов {{n_approximate}}<br>
                    !Коэффициент использования электрода {{pipeUse}}<br>
                    !Количество электродов {{n}}<br>
                    Длина полосы {{foundL}}<br>
                    Сопротивление полосы {{r_band}}<br>
                    !Коэффициент использования полосы полосы {{bandUse}}<br>
                    Общее сопротивление {{r_common}}<br>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="app.js"></script>
</body>
</html>